.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
artifacts/**
!artifacts/.gitkeep
data/
!src/catena/data/
src/catena/data/*
!src/catena/data/controller_poset.py
!src/catena/data/product_poset_sequence.py
checkpoints/
*.egg-info/
